In [1]:
x = 5

In [2]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "2"
os.listdir()

['jdk',
 'splade',
 'AMRBART',
 '.local',
 '.ipynb_checkpoints',
 'amr-tst-indo',
 '.ssh',
 '.git-credentials',
 '.python_history',
 'git clone.txt',
 '__MACOSX',
 '.rustup',
 '.keras',
 'conceptnet-assertions-5.7.0.csv',
 'dataset',
 'amr_parser',
 'data-builder',
 '.bash_history',
 '.bash_logout',
 '.profile',
 '.wget-hsts',
 '.nv',
 '.jupyter',
 '.demo.db.lock',
 '.conda',
 '??',
 '.config',
 '.gitconfig',
 '.cache',
 'shared_data',
 '.cargo',
 'thesis',
 'Dataset',
 '.npm',
 '.ipython',
 'nltk_data',
 '.zshenv',
 '.bashrc',
 'stanza_resources']

In [3]:
new_dir = "thesis"

os.chdir(new_dir)

os.listdir("../dataset/ds/")

['pointer_to_penman.ipynb',
 'val-gold.amr',
 '.ipynb_checkpoints',
 'amrbart-id-concat-pretrain',
 'amrbart-id-concat-val',
 'amrbart-id-concat-train-amr2',
 'amrbart-id-pretrain',
 'amrbart-id-train-amr3-augfil',
 'amrbart-id-concat-train-amr3',
 'amrbart-id-concat-val-original',
 'amrbart-id-train-amr2',
 'amrbart-id-train-amr3-aug',
 'test-gold.amr',
 'amrbart-id-train-amr3',
 'amrbart-id-concat-train-amr3-aug',
 'amrbart-id-val',
 'amrbart-id-concat-train-amr3-augfil']

In [4]:
import penman
from utils.pointer_to_penman import convert_amr

# dataset nafkhan

In [5]:
path_train_concat_amr2 = "../dataset/ds/amrbart-id-concat-train-amr2/train.jsonl"
path_train_concat_amr3 = "../dataset/ds/amrbart-id-concat-train-amr3/train.jsonl"

In [6]:
import pandas as pd 

df_train_concat_amr2 = pd.read_json(path_train_concat_amr2, lines=True)
df_train_concat_amr2.head()

,amr,en,id
0,( <pointer:0> start-01 :ARG0 ( <pointer:1> pic...,"In the summer of 2005 , a picture that people ...","Pada musim panas 2005, sebuah gambar bahwa ora..."
1,( <pointer:0> cause-01 :ARG0 ( <pointer:1> ima...,"With their unique charm , these well - known c...","Dengan pesona unik mereka, gambar kartun terke..."
2,( <pointer:0> open-01 :ARG1 ( <pointer:1> amus...,The world 's fifth Disney park will soon open ...,Taman Disney kelima di dunia akan segera terbu...
3,( <pointer:0> important-01 :ARG1 ( <pointer:1>...,The most important thing about Disney is that ...,Hal yang paling penting tentang Disney adalah ...
4,( <pointer:0> have-concession-91 :ARG1 ( <poin...,"Well , for several years , although it was sti...","Nah, selama beberapa tahun, meskipun masih dal..."

In [7]:
b = convert_amr(df_train_concat_amr2.iloc[0]['amr'])

In [8]:
print(b)

(s1 / start-01
    :ARG0 (p1 / picture
              :ARG1-of (l1 / look-forward-03
                           :ARG0 (p2 / person)
                           :ARG1-of (l2 / long-03)))
    :ARG1 (e1 / emerge-01
              :ARG1-of (f1 / frequent-02)
              :location (m1 / media
                            :mod (v1 / various)
                            :ARG1-of (m2 / major-02)
                            :location (c1 / city
                                          :wiki "Hong_Kong"
                                          :name (n1 / name
                                                    :op1 "Hong"
                                                    :op2 "Kong"))))
    :time (d1 / date-entity
              :year 2005
              :season (s2 / summer)))

In [9]:
df_train_concat_amr2.iloc[0]['en']

'In the summer of 2005 , a picture that people have long been looking forward to started emerging with frequency in various major Hong Kong media .'

In [10]:
df_train_concat_amr2.iloc[0]['id']

'Pada musim panas 2005, sebuah gambar bahwa orang telah lama berharap untuk mulai muncul dengan frekuensi di berbagai media Hong Kong utama.'

# dataset indohoax

In [11]:
from text_to_amr import TextToAMRSan

2025-02-26 04:14:11.544381: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-02-26 04:14:11.547055: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2025-02-26 04:14:11.598827: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-02-26 04:14:12.393316: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [12]:
text_to_amr = TextToAMRSan()

In [13]:
a = text_to_amr("Pada musim panas 2005, sebuah gambar bahwa orang telah lama berharap untuk mulai muncul dengan frekuensi di berbagai media Hong Kong utama.")

In [14]:
a.metadata = {}

In [15]:
print(penman.encode(a))

(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))

In [16]:
from AMRFactGenerator import AMRFactDynamicGenerator
from penman.models.amr import model as amr_model

In [17]:
error_generator = AMRFactDynamicGenerator(model=amr_model)

In [18]:
penman.encode(a)

'(z0 / gambar\n    :topic (z1 / mulai-01\n               :ARG0 (z2 / orang)\n               :ARG1-of (z3 / lama-01)\n               :ARG2 (z4 / muncul-01\n                         :ARG1 z2\n                         :manner (z5 / frekuensi)\n                         :location (z6 / media\n                                       :mod (z7 / berbagai)\n                                       :ARG1-of (z8 / utama-01)\n                                       :mod (z9 / kota\n                                                :wiki "Hong_Kong"\n                                                :name (z10 / nama\n                                                           :op1 "Hong"\n                                                           :op2 "Kong")))))\n    :time (z11 / entitas-tanggal\n               :year 2005\n               :season (z12 / panas)))'

In [25]:
all_errors = error_generator.generate_all_error_types(a)

for error_type, (modified_graph, description) in all_errors.items():
    print(f"\n{error_type.upper()} ERROR:")
    print(f"Modified AMR: {penman.encode(modified_graph)}")
    print(f"Description: {description}")

PREDICATE ERROR:
Modified AMR: (z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-02
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))
Description: Predicate Error: Changed sense from 'muncul-01' to 'muncul-02'

ENTITY ERROR:
Modified AMR: (z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 GKTng")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))
Description: Entity Error: Changed entity name from '"Kong"' to 'GKTng"'

CIRCUMSTANCE ERROR:
Modified AMR: (z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :season (z12 / panas)
               :year 2018))
Description: Circumstance Error: Changed time from '2005' to '2018'

DISCOURSE ERROR:
Modified AMR: (z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :cause (z11 / entitas-tanggal
                :year 2005
                :season (z12 / panas)))
Description: Discourse Link Error: Changed relation ':time' to ':cause'

OUT_OF_ARTICLE ERROR:
Modified AMR: (z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas))
    :year2 (z14 / say-01
                :ARG0 (a15 / person
                           :name (n16 / name
                                      :op1 Person94))))
Description: Out of Article Error: Added new predicate 'say-01' not in original document

In [21]:
description

'Entity Error: Changed entity name from \'"Hong"\' to \'IHoJg"\''

In [23]:
print(penman.encode(modified_amr))

(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op2 "Kong"
                                                           :op1 IHoJg")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))

In [29]:
print(penman.encode(a))

(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))

In [30]:
modified_amr, description = error_generator.introduce_error(penman.encode(a))

In [31]:
print(modified_amr)

(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / meminta)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))

In [32]:
description

"Predicate Error: Changed 'orang' to 'meminta'"

In [30]:
from tqdm.notebook import tqdm 
import copy

In [27]:
df_augmented = df_train_concat_amr2.copy()

In [28]:
df_augmented['generated'] = None
df_augmented['augmented'] = None

In [31]:
results = []
for idx, row in tqdm(df_augmented.iterrows(), total=len(df_augmented)):
    try:
        # Generate AMR from text
        text = row['id']  # Use Indonesian text column
        amr_graph = text_to_amr(text)
        amr_graph.metadata = {}  # Reset metadata
        
        # Store the generated AMR
        amr_text = penman.encode(amr_graph)
        
        # Generate all error types
        augmentations = {}
        for error_type in ["predicate", "entity", "circumstance", "discourse", "out_of_article"]:
            # Generate error
            modified_graph, description = error_generator.introduce_error(copy.deepcopy(amr_graph), error_type)
            
            # Store both the modified AMR text and the description
            augmentations[error_type] = {
                'amr': penman.encode(modified_graph),
                'description': description
            }
        
        # Update the dataframe
        df_augmented.at[idx, 'generated'] = amr_text
        df_augmented.at[idx, 'augmented'] = augmentations
        
        # Optional: Store success
        results.append({
            'idx': idx, 
            'status': 'success'
        })
        
    except Exception as e:
        # Handle any errors
        results.append({
            'idx': idx, 
            'status': 'error', 
            'error': str(e)
        })
        print(f"Error processing row {idx}: {e}")
        break

# Show the augmented dataframe
print(f"Successfully processed {sum(1 for r in results if r['status'] == 'success')} rows")
print(f"Errors in {sum(1 for r in results if r['status'] == 'error')} rows")

# Display a sample of the augmented data
df_augmented.head(2)

# Save the augmented dataset to a file if needed
df_augmented.to_json('augmented_amr_dataset.json', orient='records')

  0%|          | 0/34396 [00:00<?, ?it/s]

Error processing row 0: possibly disconnected graph
Successfully processed 0 rows
Errors in 1 rows

In [32]:
# Define a fallback function for creating simple errors
def create_fallback_error(amr_text, error_type):
    """Create a simpler fallback error by text manipulation when graph manipulation fails"""
    import re
    
    if error_type == "predicate":
        # Find and modify a predicate by string replacement
        predicates = re.findall(r'/ ([a-z]+-\d+)', amr_text)
        if predicates:
            old_pred = predicates[0]
            new_pred = old_pred.replace('-01', '-02')  # Change sense number
            if old_pred == new_pred:  # If no change, try another approach
                new_pred = "alternative-01"
            modified_amr = amr_text.replace(f"/ {old_pred}", f"/ {new_pred}", 1)
            return modified_amr, f"Changed predicate from {old_pred} to {new_pred}"
    
    elif error_type == "entity":
        # Find and modify an entity name by string replacement
        names = re.findall(r':op\d+ "([^"]+)"', amr_text)
        if names:
            old_name = names[0]
            new_name = old_name[::-1]  # Reverse the name as a simple change
            modified_amr = amr_text.replace(f':op1 "{old_name}"', f':op1 "{new_name}"', 1)
            return modified_amr, f"Changed entity name from {old_name} to {new_name}"
    
    elif error_type == "circumstance":
        # Add a simple time circumstance
        if ":time" not in amr_text:
            # Add before the last closing parenthesis
            modified_amr = amr_text.rstrip(')') + "\n    :time \"yesterday\")"
            return modified_amr, "Added time circumstance 'yesterday'"
    
    elif error_type == "discourse":
        # Add a simple cause relation if not already present
        if ":cause" not in amr_text:
            # Add before the last closing parenthesis
            modified_amr = amr_text.rstrip(')') + "\n    :cause \"unknown\")"
            return modified_amr, "Added cause relation 'unknown'"
    
    elif error_type == "out_of_article":
        # Add a simple comment that's clearly out of article
        modified_amr = amr_text.rstrip(')') + "\n    :comment \"This is out of article information\")"
        return modified_amr, "Added out of article comment"
    
    # If all else fails, just return the original
    return amr_text, "No modification (fallback failed)"

In [33]:
# Initialize the error generator
from AMRFactGenerator import AMRFactDynamicGenerator
from penman.models.amr import model as amr_model
import penman
import copy
from tqdm.notebook import tqdm

# Initialize error generator
error_generator = AMRFactDynamicGenerator(model=amr_model)

# Clone the dataframe for safety
df_augmented = df_train_concat_amr2.copy()

# Add new columns
df_augmented['generated'] = None
df_augmented['augmented'] = None

# Process each entry and create augmentations
results = []
for idx, row in tqdm(df_augmented.iterrows(), total=len(df_augmented)):
    try:
        # Generate AMR from text
        text = row['id']  # Use Indonesian text column
        amr_graph = text_to_amr(text)
        amr_graph.metadata = {}  # Reset metadata
        
        # Store the generated AMR as text
        try:
            amr_text = penman.encode(amr_graph)
            df_augmented.at[idx, 'generated'] = amr_text
        except Exception as e:
            print(f"Error encoding generated AMR for row {idx}: {e}")
            continue  # Skip this row if we can't even encode the original
        
        # Generate all error types with fallbacks
        augmentations = {}
        for error_type in ["predicate", "entity", "circumstance", "discourse", "out_of_article"]:
            try:
                # Try to generate error on the graph
                modified_graph, description = error_generator.introduce_error(copy.deepcopy(amr_graph), error_type)
                
                # Validate by trying to encode
                modified_amr = penman.encode(modified_graph)
                
                # Store both the modified AMR text and the description
                augmentations[error_type] = {
                    'amr': modified_amr,
                    'description': description
                }
            except Exception as e:
                # If error generation fails, create a simple fallback error
                try:
                    # Use a simpler fallback approach - modify a string/value directly
                    fallback_amr, fallback_desc = create_fallback_error(amr_text, error_type)
                    
                    augmentations[error_type] = {
                        'amr': fallback_amr,
                        'description': f"Fallback {error_type} error: {fallback_desc}"
                    }
                except Exception as fallback_e:
                    # If even fallback fails, just note the error
                    augmentations[error_type] = {
                        'amr': amr_text,  # Use original
                        'description': f"Error generating {error_type} error: {str(e)}"
                    }
        
        # Update the dataframe with augmentations
        df_augmented.at[idx, 'augmented'] = augmentations
        
        # Store success
        results.append({
            'idx': idx, 
            'status': 'success'
        })
        
    except Exception as e:
        # Handle any errors
        results.append({
            'idx': idx, 
            'status': 'error', 
            'error': str(e)
        })
        print(f"Error processing row {idx}: {e}")
    break

# Show the augmented dataframe
print(f"Successfully processed {sum(1 for r in results if r['status'] == 'success')} rows")
print(f"Errors in {sum(1 for r in results if r['status'] == 'error')} rows")



# Display a sample of the augmented data
df_augmented.head(2)

# Save the augmented dataset to a file if needed
df_augmented.to_json('augmented_amr_dataset.json', orient='records')

  0%|          | 0/34396 [00:00<?, ?it/s]

Successfully processed 1 rows
Errors in 0 rows

In [34]:
df_augmented.head(2)

,amr,en,id,generated,augmented
0,( <pointer:0> start-01 :ARG0 ( <pointer:1> pic...,"In the summer of 2005 , a picture that people ...","Pada musim panas 2005, sebuah gambar bahwa ora...",(z0 / gambar\n :topic (z1 / mulai-01\n ...,{'predicate': {'amr': '(z0 / gambar :topic...
1,( <pointer:0> cause-01 :ARG0 ( <pointer:1> ima...,"With their unique charm , these well - known c...","Dengan pesona unik mereka, gambar kartun terke...",None,None

In [48]:
a = df_augmented.iloc[0]['augmented']
a['predicate']['amr']
a['predicate']['description']
# a['entity']['amr']
# a['entity']['description']
# a['circumstance']['amr']
# a['circumstance']['description']
# a['discourse']['amr']
# a['discourse']['description']
# a['out_of_article']['amr']
# a['out_of_article']['description']

"Predicate Error: Changed sense from 'utama-01' to 'utama-04'"