In [1]:
import os

In [6]:
os.listdir("../dataset/ds/")

['pointer_to_penman.ipynb',
 'val-gold.amr',
 '.ipynb_checkpoints',
 'amrbart-id-concat-pretrain',
 'amrbart-id-concat-val',
 'amrbart-id-concat-train-amr2',
 'amrbart-id-pretrain',
 'amrbart-id-train-amr3-augfil',
 'amrbart-id-concat-train-amr3',
 'amrbart-id-concat-val-original',
 'amrbart-id-train-amr2',
 'amrbart-id-train-amr3-aug',
 'test-gold.amr',
 'amrbart-id-train-amr3',
 'amrbart-id-concat-train-amr3-aug',
 'amrbart-id-val',
 'amrbart-id-concat-train-amr3-augfil']

In [7]:
import penman
from utils.pointer_to_penman import convert_amr

# dataset nafkhan

In [7]:
path_train_concat_amr2 = "../dataset/ds/amrbart-id-concat-train-amr2/train.jsonl"
path_train_concat_amr3 = "../dataset/ds/amrbart-id-concat-train-amr3/train.jsonl"

In [11]:
import pandas as pd 

df_train_concat_amr2 = pd.read_json(path_train_concat_amr2, lines=True)
df_train_concat_amr2.head()

,amr,en,id
0,( <pointer:0> start-01 :ARG0 ( <pointer:1> pic...,"In the summer of 2005 , a picture that people ...","Pada musim panas 2005, sebuah gambar bahwa ora..."
1,( <pointer:0> cause-01 :ARG0 ( <pointer:1> ima...,"With their unique charm , these well - known c...","Dengan pesona unik mereka, gambar kartun terke..."
2,( <pointer:0> open-01 :ARG1 ( <pointer:1> amus...,The world 's fifth Disney park will soon open ...,Taman Disney kelima di dunia akan segera terbu...
3,( <pointer:0> important-01 :ARG1 ( <pointer:1>...,The most important thing about Disney is that ...,Hal yang paling penting tentang Disney adalah ...
4,( <pointer:0> have-concession-91 :ARG1 ( <poin...,"Well , for several years , although it was sti...","Nah, selama beberapa tahun, meskipun masih dal..."

In [14]:
b = convert_amr(df_train_concat_amr2.iloc[0]['amr'])

In [19]:
print(b)

(s1 / start-01
    :ARG0 (p1 / picture
              :ARG1-of (l1 / look-forward-03
                           :ARG0 (p2 / person)
                           :ARG1-of (l2 / long-03)))
    :ARG1 (e1 / emerge-01
              :ARG1-of (f1 / frequent-02)
              :location (m1 / media
                            :mod (v1 / various)
                            :ARG1-of (m2 / major-02)
                            :location (c1 / city
                                          :wiki "Hong_Kong"
                                          :name (n1 / name
                                                    :op1 "Hong"
                                                    :op2 "Kong"))))
    :time (d1 / date-entity
              :year 2005
              :season (s2 / summer)))

In [20]:
df_train_concat_amr2.iloc[0]['en']

'In the summer of 2005 , a picture that people have long been looking forward to started emerging with frequency in various major Hong Kong media .'

In [21]:
df_train_concat_amr2.iloc[0]['id']

'Pada musim panas 2005, sebuah gambar bahwa orang telah lama berharap untuk mulai muncul dengan frekuensi di berbagai media Hong Kong utama.'

# dataset indohoax

In [1]:
from text_to_amr import TextToAMRSan

2025-02-25 13:47:46.986792: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-02-25 13:47:46.989669: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2025-02-25 13:47:47.044767: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-02-25 13:47:47.831481: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
text_to_amr = TextToAMRSan()

In [4]:
a = text_to_amr("Pada musim panas 2005, sebuah gambar bahwa orang telah lama berharap untuk mulai muncul dengan frekuensi di berbagai media Hong Kong utama.")

In [8]:
print(penman.encode(a))

# ::id 0
# ::annotator TextToAMRSan
# ::snt Pada musim panas 2005, sebuah gambar bahwa orang telah lama berharap untuk mulai muncul dengan frekuensi di berbagai media Hong Kong utama.
(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG1-of (z3 / lama-01)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :ARG1-of (z8 / utama-01)
                                       :mod (z9 / kota
                                                :wiki "Hong_Kong"
                                                :name (z10 / nama
                                                           :op1 "Hong"
                                                           :op2 "Kong")))))
    :time (z11 / entitas-tanggal
               :year 2005
               :season (z12 / panas)))

In [11]:
from AMRAugmenter import AMRAugmenter

In [12]:
augmenter_nltk = AMRAugmenter(source='nltk')

In [14]:
b = augmenter_nltk.augment_amr(a)

In [16]:
print(penman.encode(b))

(z0 / gambar
    :topic (z1 / mulai-01
               :ARG0 (z2 / orang)
               :ARG2 (z4 / muncul-01
                         :ARG1 z2
                         :manner (z5 / frekuensi)
                         :location (z6 / media
                                       :mod (z7 / berbagai)
                                       :mod (z9 / kota
                                                :name (z10 / nama))
                                       :ARG1-of (z8 / utama-01)))
               :ARG1-of (z3 / lama-01))
    :time (z11 / entitas-tanggal
               :season (z12 / panas)))

In [17]:
b.triples

[('z0', ':instance', 'gambar'),
 ('z1', ':instance', 'mulai-01'),
 ('z2', ':instance', 'orang'),
 ('z3', ':instance', 'lama-01'),
 ('z4', ':instance', 'muncul-01'),
 ('z5', ':instance', 'frekuensi'),
 ('z6', ':instance', 'media'),
 ('z7', ':instance', 'berbagai'),
 ('z8', ':instance', 'utama-01'),
 ('z9', ':instance', 'kota'),
 ('z10', ':instance', 'nama'),
 ('z11', ':instance', 'entitas-tanggal'),
 ('z12', ':instance', 'panas'),
 ('z0', ':topic', 'z1'),
 ('z0', ':time', 'z11'),
 ('z1', ':ARG0', 'z2'),
 ('z1', ':ARG2', 'z4'),
 ('z3', ':ARG1', 'z1'),
 ('z4', ':ARG1', 'z2'),
 ('z4', ':manner', 'z5'),
 ('z4', ':location', 'z6'),
 ('z6', ':mod', 'z7'),
 ('z6', ':mod', 'z9'),
 ('z8', ':ARG1', 'z6'),
 ('z9', ':name', 'z10'),
 ('z11', ':season', 'z12')]

In [18]:
a.triples

[('z0', ':instance', 'gambar'),
 ('z0', ':topic', 'z1'),
 ('z1', ':instance', 'mulai-01'),
 ('z1', ':ARG0', 'z2'),
 ('z2', ':instance', 'orang'),
 ('z3', ':ARG1', 'z1'),
 ('z3', ':instance', 'lama-01'),
 ('z1', ':ARG2', 'z4'),
 ('z4', ':instance', 'muncul-01'),
 ('z4', ':ARG1', 'z2'),
 ('z4', ':manner', 'z5'),
 ('z5', ':instance', 'frekuensi'),
 ('z4', ':location', 'z6'),
 ('z6', ':instance', 'media'),
 ('z6', ':mod', 'z7'),
 ('z7', ':instance', 'berbagai'),
 ('z8', ':ARG1', 'z6'),
 ('z8', ':instance', 'utama-01'),
 ('z6', ':mod', 'z9'),
 ('z9', ':instance', 'kota'),
 ('z9', ':wiki', '"Hong_Kong"'),
 ('z9', ':name', 'z10'),
 ('z10', ':instance', 'nama'),
 ('z10', ':op1', '"Hong"'),
 ('z10', ':op2', '"Kong"'),
 ('z0', ':time', 'z11'),
 ('z11', ':instance', 'entitas-tanggal'),
 ('z11', ':year', '2005'),
 ('z11', ':season', 'z12'),
 ('z12', ':instance', 'panas')]